<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <div class="header">
    <span style="font-size: 28px; color: white"
      >Mactics |
      <a href="https://www.twitch.tv/mactics"
        ><i
          style="font-size: 24px; margin-right: 12px"
          class="fa-brands fa-twitch"
        ></i></a
      ><a href="https://www.youtube.com/c/MacticsG1"
        ><i
          style="font-size: 24px; margin-right: 12px"
          class="fa-brands fa-youtube"
        ></i></a
      ><a href="https://twitter.com/MacticsG1"
        ><i
          style="font-size: 24px; margin-right: 12px"
          class="fa-brands fa-twitter"
        ></i></a
      ><a href="https://discord.gg/n2dMYZQ"
        ><i
          style="font-size: 24px; margin-right: 12px"
          class="fa-brands fa-discord"
        ></i></a
    ></span>
  </div>
  <body>
    <img src="/assets/img/logo_v3.png" class="background-mac" />
    <div class="background-gradient"></div>
    {{ content }}
  </body>
</html>
