---
layout: default
---

<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<div class="embed" id="twitchembed"></div>
<script type="text/javascript">
  var options = {
    width: "100%",
    height: "100%",
    channel: "Mactics",
  }
  var player = new Twitch.Player("twitchembed", options)
  player.setVolume(0.5)
</script>
<div class="silkscreen">
  <div class="merchheader">Merch</div>
  <div class="merch-gallery">
    {% for item in site.merch %}
    <a href="/merch/{{item.item_slug}}">
      <div class="merch-container grow">
        <div
          class="merch-item"
          style="background-image: url('{{ item.cover_photo}}')"
        ></div>
        <div class="merch-title">{{item.merch_item_name}}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
